* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #153677, #4e085f);
  padding: 20px;

  & .todoApp {
    width: 400px;
    background: white;
    display:grid;
    place-items:center;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    & .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #edeef0;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 40px;

      & input {
        border: none;
        outline: none;
        flex: 1;
        border-radius: 5px;
        background: transparent;
        padding: 10px;
        font-size: 14px;
      }

    &  button {
        border: none;
        outline: none;
        padding: 16px 20px;
        background: #ff5945;
        color: #fff;
        font-size: 16px;
        border-radius: 40px;
        cursor: pointer;
      }
    }

    & ul {
      list-style: none;
      padding: 0;

     & li {
        display: flex;
        font-size: 18px;
        margin: 15px;
        align-items: start;

        & input {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

       & span {
          margin-left: 100px;
        }
      }
    }
  }
}
